.text{
    font-size: 14px;
    line-height: 1.4em;
}
.icon{
    font-size: 25px;
    align-items: center;
}
.gap-3
{align-items: center;}


.back-icon
{
    cursor: pointer;
    transition: 300ms;
    &:hover{transform: scale(1.03);}

}

.profile-image
{
    cursor: pointer;
    transition: 300ms;
    &:hover{transform: scale(1.03);}

}
.input-box
{
    background-color: #8EA68C;
    color: white;
    //width: 250px;
    height: 50px;
    border-radius: 11px;
    &::placeholder { 
        color: rgba(248, 248, 248, 0.918);
        font-weight: 200;
      }
    
   
}

.message-input
{
    padding-right: 1.7rem;
    justify-content: end;
   
    & .icon-div
    {
        
        font-size: 25px;
        align-items: center;
        background-color: #8EA68C;
        padding: 7px 10px;
        border-radius: 10px;
        text-align: end;
        
        
    } & .icon-div a
    {  
        cursor: pointer;
        transition: 300ms;
        &:hover{transform: scale(1.03);}
        
    }
}