<div class="container mx-auto px-4 lg:px-6">
    <div class="flex sm:justify-center lg:justify-around xl:justify-evenly">
            
        <div class="hero min-h-screen">
            <div class="hero-content text-center">
              <div class="max-w-md">


                <img class="w-36 h-auto mr-auto ml-auto py-0 logo" src="https://res.cloudinary.com/dev-lab/image/upload/v1669135920/G-riend_nkwzoa.png" alt="">
                <p class="py-0 mb-2 text-white text mr-auto ml-auto">gaming is <span class="font-bold">Life</span></p>
                
                <p class="py-3 mt-5 mb-2 text-white text mr-auto ml-auto"><span class="font-bold">Welcome</span> to the social media for those who dare to play</p>

                <img class="controller" src="https://res.cloudinary.com/dev-lab/image/upload/v1669134346/PngItem_1267799_dapvab.png" alt="Gaming Controller">

                <p class="text mr-auto ml-auto text-white font-bold">Are you a gamer?</p>
                <p class="py-2 mb-5 text-white text mr-auto ml-auto">Find your mates today and play</p>
                <button class="btn btn-primary w-60 mb-2 text-white glow" [routerLink] ="login">Get Started</button>

                <p class="py-2 mt-1 text-white text mr-auto ml-auto">You are about to enter the world of <span class="font-bold">infinite</span> fun and fight!</p>


                <div class="flex w-60 mt-6  mr-auto ml-auto justify-between">

                    <img class="w-8 h-auto console-logo" src="https://res.cloudinary.com/dev-lab/image/upload/v1669137531/8547001_xbox_icon_vnoqbi.png" alt="xbox">

                    <img class="w-8 h-auto console-logo" src="https://res.cloudinary.com/dev-lab/image/upload/v1669137531/8547064_playstation_icon_u3w5ie.png" alt="xbox">

                    <img class="w-8 h-auto console-logo" src="https://res.cloudinary.com/dev-lab/image/upload/v1669137531/8666461_steam_icon_o8dbu1.png" alt="xbox">

                </div>






              </div>
            </div>
          </div>

    </div>
</div>
