<div class="container mx-auto px-3 justify-center md:px-3 lg:px-3 ">
    <div class="min-h-screen">
        <app-nav-bar></app-nav-bar>

        <div class="flex flex-col justify-center ml-auto mr-auto w-52 gap-3">
            <h2 class="text-gametag text-center font-semibold w-52">ChampangePapi#12</h2>

            <div class="image rounded-full w-48 h-48 border-4 ml-auto mr-auto border-white"><img  class="rounded-full" src="{{image_link}}" alt=""></div>
            

        </div>

        

        


    </div>
</div>
