.hero-overlay
{
    
    backdrop-filter: blur(30px);
    background: linear-gradient(to bottom, #25252500,#3b3b3b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.icon{
    margin-bottom: -20px;
    padding: 0.2rem;
    
}