<div class=" mx-auto justify-center ">
    <div class="min-h-screen">
       
        <ngx-spinner bdColor = "rgba(43, 80, 46, 0.8)" size = "default" color = "#fff" type = "square-jelly-box" [fullScreen] = "false"><p style="color: white" > Hang on ... </p></ngx-spinner>

        <div class="hero min-h-screen img " style="background-image: url('../../../assets/nfs-unbound-button-fin-1665517112800.jpg'); background-size: cover;">
            <div class="hero-overlay bg-opacity-10">
                <div class="hero-content mt-24 px-4 text-left flex-col">

                    <h1 class="font-bold text-lg">{{game.name}}</h1>
                    <span class="text-xs font-light -mt-4">{{game.category}}</span>
                    <!-- Console Icons -->
                    <div class="flex gap-3 -mt-2">
                        <span class="text-sm">Available on</span>  
                        <img src="../../../assets/8547001_xbox_icon.png" class="w-6 h-6 invert" alt="">
                        <img src="../../../assets/8547064_playstation_icon.png" class="w-6 h-6 invert" alt="">
                        <img src="../../../assets/8666461_steam_icon.png" class="w-6 h-6 invert" alt="">
                    </div>

                    <div class="main-images">
                        <img src="../../../assets/nfs-unbound-button-fin-1665517112800.jpg" class="w-80 h-80 rounded-xl mx-auto" alt="">
                        <div class="screenshots w-80 flex gap-2 overflow-x-scroll scroll-smooth overflow-clip mt-3">
                            <img src="../../../assets/nfs-unbound-button-fin-1665517112800.jpg" class="w-20 h-20 rounded-md mx-auto" alt="">
                            
                            <img src="../../../assets/nfs-unbound-button-fin-1665517112800.jpg" class="w-20 h-20 rounded-md mx-auto" alt="">

                            <img src="../../../assets/nfs-unbound-button-fin-1665517112800.jpg" class="w-20 h-20 rounded-md mx-auto" alt="">

                            <img src="../../../assets/nfs-unbound-button-fin-1665517112800.jpg" class="w-20 h-20 rounded-md mx-auto" alt="">

                            <img src="../../../assets/nfs-unbound-button-fin-1665517112800.jpg" class="w-20 h-20 rounded-md mx-auto" alt="">

                            <img src="../../../assets/nfs-unbound-button-fin-1665517112800.jpg" class="w-20 h-20 rounded-md mx-auto" alt="">

                        </div>

                    </div>

                    <div class="info">
                        <span class="text-md font-semibold">About the game</span>
                        <p class="desc">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, molestiae sint? Voluptate consequuntur ad et repellendus, non suscipit quidem voluptates dignissimos repudiandae eaque. Iure ullam expedita eligendi vitae eaque nisi?
                        </p>
                    </div>

                    <div class="comments">

                        <div tabindex="0" class="collapse"> 
                           
                            <a class=" collapse-title btn btn-sm btn-ghost w-fit content-center py-4 mx-auto capitalize">Comments &nbsp; <i class="fi fi-rr-comment"></i></a>
                            
                            <div class="collapse-content w-full"> 

                                <div class="comment py-3 transition-all rounded-lg">
                                    <p class="text-sm comment-text w-80 text-left ">This game is actually quite nice ... I love it.</p>
                                    <h3 class="text-xs font-semibold">Kagiso Monageng</h3>
                                </div>

                                <div class="comment py-3 transition-all rounded-lg">
                                    <p class="text-sm comment-text w-80 text-left ">This game is actually quite nice ... I love it.</p>
                                    <h3 class="text-xs font-semibold">Kagiso Monageng</h3>
                                </div>

                                <div class="comment py-3 transition-all rounded-lg">
                                    <p class="text-sm comment-text w-80 text-left ">This game is actually quite nice ... I love it.</p>
                                    <h3 class="text-xs font-semibold">Kagiso Monageng</h3>
                                </div>

                                <div class="comment py-3 transition-all rounded-lg">
                                    <p class="text-sm comment-text w-80 text-left ">This game is actually quite nice ... I love it.</p>
                                    <h3 class="text-xs font-semibold">Kagiso Monageng</h3>
                                </div>
                                

                            </div>


                            
                        </div>



                        
                    </div>

                </div>
            </div>

           
        </div>
        
        
        <app-nav-bar class="z-40"></app-nav-bar>
    </div>
</div>