<div class="flex justify-center w-full">
    <ul class="menu menu-horizontal fixed bottom-4 bg-primary bg-opacity-70 rounded-full backdrop-blur-sm px-4">
        <li>
            <a class="active:bg-gray-500 active:bg-opacity-10 text-white rounded-full" routerLink="/posts/">
                <i class="fi fi-rr-house-blank"></i>
            </a>
        </li>
        
        <li>
            <a class="active:bg-gray-500 active:bg-opacity-10 text-white rounded-full" routerLink="/posts/add">
                <i class="fi fi-rr-square-plus"></i>
            </a>
        </li>

        <li>
            <a class="active:bg-gray-500 active:bg-opacity-10 text-white rounded-full" routerLink="/posts">
                <i class="fi fi-rr-document"></i>
            </a>
        </li>
        
    </ul>

</div>