.overlay{
    background-image: linear-gradient(to bottom, #272727a1,transparent);
}
video{
    width: 100%;
    
}
video::-webkit-media-controls {
    color: #ffffff;
}

video::-webkit-media-controls-play-button {
  
}

video::-webkit-media-controls-panel {
  background-image: none;
}

video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-volume-slider {
  background-image: none !important;
  display: none !important;
}


  
  /* Display play button */
  video::-webkit-media-controls-play-button {
    display: block !important;
    background-color: rgba(57, 57, 57, 0.336);
    border-radius: 100%;
  }
