<div class="head w-full flex justify-between px-4 py-5 transition-all duration-150 ease-in-out" id="back-button"
  #backButton>
  <button (click)="back()"
    class="btn h-full rounded-xl btn-secondary gap-1 text-white capitalize font-normal border-none  bg-opacity-20 btn-xs"><i
      class="fi fi-rr-angle-left"></i>back</button>

  <div class="flex gap-2 place-items-center"><input type="text"
      class="input input-ghost input-sm text-right focus:outline-none placeholder:text-white font-medium text-white"
      placeholder="Search gamer"><i class="fi fi-rr-search"></i></div>




</div>
<div class="user-posts flex gap-3 pb-20 px-2 flex-col scroll-smooth w-full">

  <div class="post h-2/5 w-full bg-white bg-opacity-5 rounded-lg pb-3 relative shadow" *ngFor="let post of userPosts">
    <div class="w-full h-1/6 overlay absolute top-0 flex justify-between">
      <div class="gamer-details flex gap-2 place-items-center p-4">
        <img src="{{post.gamer_image}}" alt="" class="w-8 h-8 object-cover rounded-full">
        <p class="font-semibold">{{post.gametag}}</p>
      </div>
      <button class=" btn btn-ghost text-xs p-4"><i class="fi fi-rr-share"></i></button>
    </div>

    <video controls class="rounded-t-lg mb-3 postVideo w-full" preload="auto" loop>
      <source src="{{post.media}}">
    </video>





    <div class="content px-3 text-xs">
      <p class="font-semibold text-primary">{{post.gametag}}</p>
      <p>{{post.caption}}</p>

    </div>




  </div>



</div>




<app-post-menu></app-post-menu>
