<div class="h-full pt-5">
    <div class="h-full flex flex-col justify-between">
        <div class="header px-4 flex flex-col -space-y-3 mb-2">
            <span>Hello</span>
            <span class="font-bold text-4xl">Kagiso</span>
        </div>
        <ngx-spinner bdColor="rgba(7, 6, 0 ,0.8)" size="default" color="#fff" type="square-loader" [fullScreen]="false">
            <p class="font-semibold -mt-7" style="color: white"> G- <span class="text-primary">riend </span> </p>
        </ngx-spinner>

        <div class="spiderman flex flex-col gap-4 h-full">
            <div class="h-52 w-11/12 mx-auto rounded-xl rect-spiderman shadow-md flex justify-between">
                <div class="flex flex-col justify-between">
                    <p class="text-2xl w-52 font-semibold p-4 mt-6">Spider-Man: Miles Morales</p>
                    <p
                        class="text-xl m-3 bg-secondary bg-opacity-50 text-center shadow py-1 px-4 rounded-full font-bold">
                        Coming Soon</p>
                </div>
                <img src="../../../assets/PngItem_407187.png" class=" w-52 -mb-5 -ml-16 spiderman-img z-20" alt="">
            </div>


            <div class="bg-secondary h-full shadow-md bg-opacity-25 rounded-t-3xl w-full bottom-div">
                <div class="dash bg-secondary w-10 h-2 rounded-full mx-auto mt-3 mb-1"></div>

                <div class="title px-7">
                    <div class="left">
                        <p class="font-semibold text-lg w-56">Marvel's Spider-Man: Miles Morales</p>
                        <p class="font-light">Action</p>
                    </div>

                </div>

                <div class="bg-secondary bg-opacity-30 h-16 w-10/12 mx-auto shadow-md rounded-full mt-3">

                    <div class="flex justify-around py-1 px-3 m-auto">

                        <div class="flex flex-col justify-center">
                            <i class="fi fi-rr-heart text-xl text-center text-black"></i>
                            <p class="text-black text-sm font-semibold text-center">1.5M+</p>
                        </div>



                        <div class="flex flex-col justify-center">
                            <i class="fi fi-rr-dice-alt text-xl text-center text-black"></i>
                            <p class="text-black text-sm font-semibold text-center">Action</p>
                        </div>

                        <div class="flex flex-col justify-center">
                            <i class="fi fi-rr-box text-xl text-center text-black"></i>
                            <p class="text-black text-sm font-semibold text-center">58.2GB</p>
                        </div>

                        <div class="flex flex-col justify-center">
                            <img src="../../../assets/294662_playstation_icon.png" class="w-8 mx-auto" alt="">
                            <p class="text-black font-semibold text-sm text-center">PS</p>
                        </div>


                    </div>
                </div>
                <div class="about px-7">
                    <p class="text-xs mt-5">
                        Marvel's Spider-Man: Miles Morales is a 2020 action-adventure game developed by Insomniac
                        Games and published by Sony Interactive Entertainment. Based on the Marvel Comics character
                        Miles Morales, it is inspired by both the character's decade-long comic book mythology and
                        the 2018 animated film Spider-Man: Into the Spider-Verse—which helped popularize him.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
    <app-nav-bar></app-nav-bar>