<app-nav-bar class="navigation"></app-nav-bar>

<div class="container mx-auto px-3 justify-center md:px-3 lg:px-3 ">
    <div class="min-h-screen pt-24">
        <ngx-spinner bdColor="rgba(7, 6, 0 ,0.8)" size = "default" color = "#fff" type = "square-loader" [fullScreen] = "false"><p class="font-semibold -mt-14" style="color: white" > G- <span class="text-primary">riend </span> </p></ngx-spinner>

        <div class="hero -mt-12 spiderman">
            <div class="h-52 w-11/12 rounded-xl rect-spiderman shadow-md  flex justify-between">
                <div class="flex flex-col justify-between">
                    <p class="text-2xl w-52 font-semibold p-4 mt-6">Spider-Man: Miles Morales</p>
                    <p class="text-xl m-3 bg-secondary bg-opacity-50 text-center shadow py-1 px-4 rounded-full font-bold">Coming Soon</p>
                </div>
                <img src="../../../assets/PngItem_407187.png" class=" w-52 -ml-14" alt="">
            </div>

            <div class="mt-72">

                
            

            
            </div>

        <div>

        

        


                
        

           
        
        
        
    </div>
</div>

