.rect-spiderman
{
    background: linear-gradient(to right, #8a8a8a, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navigation
{
    z-index: 99999;
}
.bottom-div
{
    border-radius: 40px 40px 0 0;
    animation: shutter-in-top 1s ease 0s 1 alternate none;
}
@keyframes shutter-in-top {
			
    0% {
        transform:rotateX(100deg);
        transform-origin:top;
        opacity:0;
    }
    100% {
        transform:rotateX(0deg);
        transform-origin:top;
        opacity:1;
    }
}
.title
{
    animation: slit-in-horizontal 3.2s ease 0s 1 normal none;
}
@keyframes slit-in-horizontal {
			
    0% {
        transform:translateZ(-800px) rotateX(90deg);
        opacity:0;
    }
    50% {
        transform:translateZ(-160px) rotateX(87deg);
        opacity:1;
    }
    100% {
        transform:translateZ(0) rotateX(0);
    }
}

.spiderman-img
{
    animation: scale-up-center 8s ease 0s 1 normal none;
}
@keyframes scale-up-center {
			
    0% {
        transform:scale(0);
    }
    95% {
        transform:scale(1.1);
    }
    100%{
        transform:scale(1);
    }
}



.middle img{
    border: 2px solid rgb(168, 168, 168);
}