<div class="navbar">
  <div class="flex-1">
    <a class="text-xl"><img class="w-28 h-auto mr-auto ml-auto py-0 logo" src="https://res.cloudinary.com/griend/image/upload/v1669135920/G-riend_nkwzoa.png" alt=""></a>
  </div>

  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <div class="indicator">
            <i class="fi fi-rr-search icon text-white"></i>
        </div>
      </label>
      <div tabindex="0" class="mt-3 card card-compact dropdown-content w-52 bg-base-100 shadow">
        <div class="card-body">
          <span class="font-bold text-lg">8 Items</span>
          <span class="text-info">Subtotal: $999</span>
          <div class="card-actions">
            <button class="btn btn-primary btn-block">View cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown dropdown-end ">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="">
            <i class="fi fi-rr-menu-dots-vertical icon text-white"></i>
        </div>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-2 p-2 shadow h-56 bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-end">
            Chats
            <span><i class="fi fi-rr-paper-plane menu-icon"></i></span>
          </a>
        </li>

        <li>
            <a class="justify-end">
                My Games
                <span><i class="fi fi-rr-dice-d6"></i></span>
              </a>
        </li>

        <li>
            <a class="justify-end" routerLink="/profile">
                Profile
                <span><i class="fi fi-rr-user"></i></span>
              </a>
        </li>

        <li>
            <a class="justify-end" (click)="signOut()">
                Sign Out
                <span><i class="fi fi-rr-sign-out-alt"></i></span>
              </a>
        </li>


      </ul>
    </div>
  </div>
</div>
