
<div class="flex justify-center w-full">
  <ul class="menu menu-horizontal fixed bottom-4 bg-primary bg-opacity-70 rounded-full backdrop-blur-sm px-4">
    <li >
      <a class="active:bg-gray-500 active:bg-opacity-10 text-white rounded-full" routerLink="/home">
        <i class="fi fi-rr-house-blank"></i>
      </a>
    </li>
    <li >
      <a class="active:bg-gray-500 active:bg-opacity-10 text-white rounded-full" routerLink="/posts">
        <i class="fi fi-rr-camera-movie"></i>
      </a>
    </li>
    <li>
      <a class="active:bg-gray-500 active:bg-opacity-10 text-white controller rounded-full"  routerLink="/search">
        <img class="w-14" src="../../../assets/Controller.png" alt="">
      </a>
    </li>
    <li >
      <a class="active:bg-gray-500 active:bg-opacity-10 text-white rounded-full" routerLink="/posts/add">
        <i class="fi fi-rr-magic-wand"></i>
      </a>
    </li>
    <li>
      <a class="active:bg-gray-500 active:bg-opacity-10 text-white rounded-full" routerLink="/profile">
        <i class="fi fi-rr-user"></i>
      </a>
    </li>
  </ul>

</div>
