<div class="container mx-auto px-2 md:px-3 lg:px-3">
       
        <div class="hero min-h-screen md:w-8/12">
            <div class="hero-content text-center">
              <div class="max-w-lg mr-auto ml-auto">
                <ngx-spinner bdColor="rgba(7, 6, 0 ,0.8)" size = "default" color = "#fff" type = "square-loader" [fullScreen] = "false"><p class="font-semibold -mt-14" style="color: white" > G- <span class="text-primary">riend </span> </p></ngx-spinner>

                <img class="w-36 h-auto md:w-96 mr-auto ml-auto py-0 logo" src="https://res.cloudinary.com/decomtmki/image/upload/v1670773041/G-riend_vdtc8q.png" alt="">
                <p class="py-0 mb-2 text-white text mr-auto ml-auto">gaming is <span class="font-bold">Life</span></p>

                <p class="py-3 mt-2 mb-2 text-white text mr-auto ml-auto font-semibold">Sign in and find your play mates</p>

                <form class="form-control " [formGroup] ="loginForm" (ngSubmit)="login(loginForm)">
                <input type="text" formControlName="cred" placeholder="Gametag, Email" class="input w-64 mt-5 mb-2 max-w-lg input-box" minlength="2" required>
                <input type="password" formControlName="password" placeholder="Password" class="input w-64 mt-5 mb-2 max-w-lg input-box" minlength="5" required>

                <div class="flex justify-between">
                    <div></div>
                    <div>
                        <p class="py-1 mb-5 text-white font-light"><label for="my-modal-6" class="  link-secondary">Forgot password?</label></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-60 mb-2 text-white glow" [disabled]="loginForm.invalid">Sign In</button>
                </form>



                <!-- Put this part before </body> tag -->
            <input type="checkbox" id="my-modal-6" class="modal-toggle" />
            <div class="modal modal-bottom sm:modal-middle">
                <div class="modal-box bg-opacity-100 shadow text-left">
                    <h3 class="font-bold text-lg">Password Request</h3>
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit(forgotPasswordForm)">

                        <p class="py-2">Please enter your registered email below.</p>
                        <input type="text"[email]="true" formControlName="email" placeholder="Email" class="input mt-5 mb-2 max-w-lg input-box-fg" required>

                        <div class="modal-action">
                        <label for="my-modal-6" class="btn cancel text-white">Cancel</label>
                        <button type="submit" class="btn btn-primary text-white glow-1" [disabled]="forgotPasswordForm.invalid">Send</button>
                        </div>

                    </form>


                </div>
            </div>


                
                <p class="py-2  mb-2 text-white text mr-auto ml-auto">Don't have an account?<span class="font-bold"><a routerLink="/register">Sign Up</a> </span></p>

            </div>
        </div>
      </div>


</div>
