/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import "~ngx-spinner/animations/square-loader.css";

* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }
body{
    height: 100vh;
    font-family: 'poppins';
    color: white;
}

.menu{
  background: linear-gradient(to right, #23252686, #4145459d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  & .controller img
  {
      width: 34px;
  }
}
