<div class="h-full">
  <div class="head  px-4 py-5 fixed  w-full flex justify-between mb-4">
        <button (click)="back()" class="btn rounded-xl btn-secondary gap-1 text-white capitalize font-normal border-none ba bg-opacity-20 btn-xs"><i class="fi fi-rr-angle-left"></i>back</button>
        <span></span>
  </div>

  <div class="container w-full h-full bg-black pt-14 px-4">
    <form class="form" action="">

      <div class="form-control space-y-2">
        <label for="caption">Write a caption</label>
        <textarea class="textarea textarea-ghost" placeholder="Caption goes in here..." name="caption" id="caption" cols="30" ></textarea>
      </div>

    </form>


  </div>





</div>
