.text{
    font-size: 14px;
    line-height: 1.4em;
}
.icon{
    font-size: 25px;
    align-items: center;
}
.gap-3
{align-items: center;}

li{
    cursor: pointer;
    transition: 300ms;
    &:hover{transform: scale(1.03); box-shadow: 0px 0px 5px rgb(181, 181, 181) ;}
}
.game-name
{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: horizontal;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:20px;
}

.search-input{
  background:linear-gradient(0deg, rgba(30, 30, 0, 0) 0%, rgba(255, 255, 255, 0) 18%, rgba(255, 255, 255, 0) 100%);
}
